.explain-popup {
  position: absolute;
  max-width: 300px;
  background: #12182b;

  color: rgba(247, 241, 241, 0.79);
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 999999;
}

.explain-popup {
  cursor: grab; /* shows the “hand” indicating draggable */
}
.explain-popup:active {
  cursor: grabbing; /* while dragging */
}

.loader {
  border: 3px solid #eee;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


.popup-close-btn {
  position: absolute;   
  top: 8px;             
  right: 8px;           
  width: 10px;
  height: 10px;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #f7f4f4a7;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease, color 0.2s ease;
  z-index: 1001;
}

